.title {
    & p {
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
        color: var(--light-color);
    }
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0.5px;
    border-radius:  0 50px 50px 0;
    width: 90%;
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title img {
    margin-left: 10px;
    height: 35px;
}

.rooms {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 100px;
}

.floor {
    text-align: center;
    color: var(--primary-color);
    padding: 0;
    border-radius: 50px;
    width: 95%;
    font-size: 23px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    margin: 10px 0;
    list-style-type: none;
}

li img{
    float: right;
    margin-right: 35px;
}

li a{
    text-decoration: none;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 15px;
}